import ipyvuetify as v
from japper import PageView


class {{PageName}}View(PageView):
    def __init__(self) -> None:
        super().__init__({% if preview %}custom_app_style=app_style{% endif %})

    def render(self):
        self.set_contents(
            v.Html(tag='h1', children=['{{page_title}}'])
        )