class HomeModel:
    welcome_title = f'Welcome to Japper App!'
    welcome_message = 'This is a Jupyter-based web application built by Japper. We hope you enjoy it!'

    def __init__(self):
        pass
