"""
This is a sample view for the home page.
"""
import ipyvuetify as v
from japper import PageView


class HomeView(PageView):
    def __init__(self) -> None:
        """
        Create a new instance of HomeView. This is the view for the home page.
        """
        super().__init__()

    def render(self, welcome_title: str, welcome_message: str):
        """
        Render the view. This method is called by the framework to render the view.
        """

        btn_start = v.Btn(color='primary', children=['GET STARTED'], class_='mt-10', large=True)
        btn_start.on_event('click', lambda *_: self.emit('start_clicked'))

        self.set_contents([
            v.Row(class_='align-center justify-center', style_='width:1200px;height:60vh;margin:50px auto;',
                  children=[
                      v.Col(cols=7, children=[
                          v.Html(tag='div', children=[
                              v.Html(tag='p',
                                     class_='display-2 font-weight-bold',  # we can specify class directly
                                     children=[welcome_title]),
                              v.Html(tag='p', style_='font-size:1.2em;',  # we can also specify class style
                                     children=[
                                         welcome_message]),
                              btn_start
                          ]),
                      ])
                  ]),
        ])
