"""
{{page_name}} Model
This is the model for the {{page_name}} page. You can add your custom logic and data processing to this class.
"""


class {{page_name}}Model:
    def __init__(self) -> None:
        pass