#!/bin/sh

#
# jupyter tool
#
/usr/bin/invoke_app "$@" -t {{ mygeohub_tool_name }} \
                         -C "start_jupyter -A -T @tool -t app.ipynb" \
                         -u anaconda-7 \
                         -r none \
                         -w headless
