#  {{ project_title }}

This is a Jupyter-based web application build by Japper

## Getting Started

1. Install Japper

    ```bash
    pip install japper
    ```

2. Run the app

    ```bash
    japper run dev
    ```

3. Open your browser and go to [http://localhost:8888](http://localhost:8888)
